h1 {
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  display:table-cell; 
  vertical-align:middle;
  text-align: left;
}

img {
  display: table-cell;
  width: 100px;
  padding-bottom:10px;
}

header {
  height: 90%; 
  text-align:center; 
  display:table;
  width:100%;
}

button {
  margin-bottom: 20px;
  font-size: 24px;
}

#container {
  width: 800px;
  height: 700px;
}

.footer {
  margin-top: 60px;
}

.resultsContainer {
  width: 100%;
}

.chart {
  position: relative; 
  display: inline-block;
  height:40vh; 
  width:80vh;
  padding-top: 5%;
}

.messages {
  width: 80%;
  margin: 0 auto;
}

.results {
  float: left;
}

.result-image {
  width: 800px;
}

#resultChart {
  width: 45%;
  display: inline-block;
  float: right;
}